PORT=2020
LOG_LEVEL=debug
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SIA_USER=
DB_SIA_HOST=
DB_SIA_PWD=
DB_SIA_NAME=
DB_SIA_PORT=

#Qr Track DB
DB_QR_TRACK_USER=
DB_QR_TRACK_HOST=
DB_QR_TRACK_PWD=
DB_QR_TRACK_NAME=
DB_QR_TRACK_PORT=3306

#IPMS
IPMS_KEY=
IPMS_BASE_URL=
